USE [DbMvcKamp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](1000) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](100) NULL,
	[AboutImage2] [nvarchar](100) NULL,
	[AboutStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUsername] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[AdminRole] [nvarchar](1) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](200) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[ContactDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[HeadingID] [int] NOT NULL,
	[WriterID] [int] NULL,
	[ContentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drafts]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drafts](
	[DraftID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiverMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](100) NULL,
	[DraftContent] [nvarchar](max) NULL,
	[DraftDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Drafts] PRIMARY KEY CLUSTERED 
(
	[DraftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headings]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headings](
	[HeadingID] [int] IDENTITY(1,1) NOT NULL,
	[HeadingName] [nvarchar](50) NULL,
	[HeadingDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[WriterID] [int] NOT NULL,
	[HeadingStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Headings] PRIMARY KEY CLUSTERED 
(
	[HeadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](50) NULL,
	[ReceiverMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](100) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TalentCards]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TalentCards](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[Text] [nvarchar](50) NULL,
	[Skill1] [nvarchar](20) NULL,
	[SkillPoint1] [int] NOT NULL,
	[Skill2] [nvarchar](20) NULL,
	[SkillPoint2] [int] NOT NULL,
	[Skill3] [nvarchar](20) NULL,
	[SkillPoint3] [int] NOT NULL,
	[Skill4] [nvarchar](20) NULL,
	[SkillPoint4] [int] NOT NULL,
	[Skill5] [nvarchar](20) NULL,
	[SkillPoint5] [int] NOT NULL,
	[Skill6] [nvarchar](20) NULL,
	[SkillPoint6] [int] NOT NULL,
	[Skill7] [nvarchar](20) NULL,
	[SkillPoint7] [int] NOT NULL,
	[Skill8] [nvarchar](20) NULL,
	[SkillPoint8] [int] NOT NULL,
	[Skill9] [nvarchar](20) NULL,
	[SkillPoint9] [int] NOT NULL,
	[Skill10] [nvarchar](20) NULL,
	[SkillPoint10] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TalentCards] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talents]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talents](
	[TalentId] [int] IDENTITY(1,1) NOT NULL,
	[TalentName] [nvarchar](max) NULL,
	[Range] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Talents] PRIMARY KEY CLUSTERED 
(
	[TalentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 17.07.2021 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterID] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](50) NULL,
	[WriterSurname] [nvarchar](50) NULL,
	[WriterNickname] [nvarchar](100) NULL,
	[WriterImage] [nvarchar](250) NULL,
	[WriterMail] [nvarchar](200) NULL,
	[WriterPassword] [nvarchar](200) NULL,
	[WriterAbout] [nvarchar](100) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL,
	[WriterRole] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (1, N'deneme', N'deneme', N'test', N'test', 1)
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (2, N'deneme', N'test', N'a', N'b', 0)
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (3, N'deneme', N'deneme', N'test', N'test', 1)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminUsername], [AdminPassword], [AdminRole], [RoleId]) VALUES (1, N'admin00@gmail.com', N'001', NULL, 1)
INSERT [dbo].[Admins] ([AdminID], [AdminUsername], [AdminPassword], [AdminRole], [RoleId]) VALUES (2, N'admin01@gmail.com', N'002', NULL, 1)
INSERT [dbo].[Admins] ([AdminID], [AdminUsername], [AdminPassword], [AdminRole], [RoleId]) VALUES (3, N'admin02@gmail.com', N'003', N'A', 1)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (1, N'Eğitim', N'Burası eğitim kategorisidir', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (2, N'Sanat', N'Sanat kategorisi', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (3, N'Spor', N'Spor kategorisi', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (1, N'Ali yıldız', N'yildiz@gmail.com', N'Teşekkürler', N'Mesaj bölümünü çok beğendim, elinize sağlık.', CAST(N'2021-05-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (2, N'Ayşe Çınar', N'test@gmail.com', N'Talep', N'Rica etsem yazılım kategorisindeki bişey adlı kullanıcının afaf', CAST(N'2021-05-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (3, N'test', N'test', N'testt', N'Test', CAST(N'2021-05-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (1, N'Walter White''ın efsane yaşam öyküsü', CAST(N'2021-04-24T00:00:00.000' AS DateTime), 3, 1, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (2, N'Küçük walter seni çok özledik', CAST(N'2021-04-24T00:00:00.000' AS DateTime), 3, 2, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (3, N'Bu dizi biraz saçmaymış bence', CAST(N'2021-04-24T00:00:00.000' AS DateTime), 7, 3, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[Drafts] ON 

INSERT [dbo].[Drafts] ([DraftID], [ReceiverMail], [Subject], [DraftContent], [DraftDate]) VALUES (1, N'nihat@gmail.com', N'Deneme', N'<b>Test mesajı, deneme için yazıldı.</b>', CAST(N'2021-06-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Drafts] ([DraftID], [ReceiverMail], [Subject], [DraftContent], [DraftDate]) VALUES (2, N'yildiz@gmail.com', N'Deneme Mesajı', N'<p><b>Bu bir test mesajıdır.</b></p><ul><li><b style="background-color: rgb(247, 198, 206);">Bu mesaj draftları denemek için</b></li><li><b style="background-color: rgb(247, 198, 206);">Html etiketlerinin kayıt olup olmadığını görmek için</b></li></ul><p><b>Yazılmıştır.</b></p>', CAST(N'2021-06-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Drafts] OFF
GO
SET IDENTITY_INSERT [dbo].[Headings] ON 

INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (1, N'Green Book', CAST(N'2021-04-24T00:00:00.000' AS DateTime), 4, 2, 1)
INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (2, N'İtiraflarım', CAST(N'2021-04-24T00:00:00.000' AS DateTime), 5, 3, 1)
INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (3, N'Breaking Bad', CAST(N'2021-04-24T00:00:00.000' AS DateTime), 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Headings] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (1, N'Avatar 1', N'/avatar/av1.jpg')
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (2, N'Avatar 2', N'/avatar/av2.png')
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (3, N'Avatar 3', N'/avatar/av3.png')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [IsRead]) VALUES (1, N'aliyildiz@gmail.com', N'admin@gmail.com', N'Deneme', N'Merhaba admin bir sorum var size. Şifremi değiştiremiyorum acaba bana bu konuda destek sağlayabilir misiniz?', CAST(N'2021-06-06T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'A', N'A rolü')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'B', N'B rolü')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'C', N'C rolü')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TalentCards] ON 

INSERT [dbo].[TalentCards] ([CardId], [FirstName], [LastName], [Text], [Skill1], [SkillPoint1], [Skill2], [SkillPoint2], [Skill3], [SkillPoint3], [Skill4], [SkillPoint4], [Skill5], [SkillPoint5], [Skill6], [SkillPoint6], [Skill7], [SkillPoint7], [Skill8], [SkillPoint8], [Skill9], [SkillPoint9], [Skill10], [SkillPoint10]) VALUES (1, N'Sinan', N'Fen', N'Yazılım geliştirici, stajyer öğrenci', N'C#', 75, N'JavaScript', 60, N'Java', 60, N'ASP.NET MVC', 80, N'HTML', 80, N'CSS', 80, N'Bootstrap', 80, N'SQL', 70, N'Microsoft Office', 80, N'Devamlılık', 80)
SET IDENTITY_INSERT [dbo].[TalentCards] OFF
GO
SET IDENTITY_INSERT [dbo].[Talents] ON 

INSERT [dbo].[Talents] ([TalentId], [TalentName], [Range]) VALUES (1, N'C#', 85)
INSERT [dbo].[Talents] ([TalentId], [TalentName], [Range]) VALUES (3, N'JavaScript', 65)
INSERT [dbo].[Talents] ([TalentId], [TalentName], [Range]) VALUES (4, N'Java', 65)
SET IDENTITY_INSERT [dbo].[Talents] OFF
GO
SET IDENTITY_INSERT [dbo].[Writers] ON 

INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurname], [WriterNickname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus], [WriterRole]) VALUES (1, N'Yıldız', N'Bulut', N'yildiz000', N'/avatar/77105123-young-woman-with-glasses-avatar-character-vector-illustration-design.jpg.jpg', N'yildiz@gmail.com', N'123456', N'Selam ben Yıldız, Kitaplar, diziler ve filmler ile ilgileniyorum', N'Yönetmen ', 1, N'A')
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurname], [WriterNickname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus], [WriterRole]) VALUES (2, N'Mehmet', N'Çınar', N'mehmed153', N'/avatar/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png.png', N'mehmet@gmail.com', N'123456', N'Yazılım mühendisiyim. Frontend geliştiriyorum. React ve VueJS biliyorum', N'Yazılım Mühendisi', 1, N'A')
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurname], [WriterNickname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus], [WriterRole]) VALUES (3, N'Emel', N'Öztürk', N'emelozturk', N'/avatar/smiling-girl-avatar_102172-32.jpg.jpg', N'emel@gmail.com', N'123456', N'Kitap okumayı, yürüyüş yapmayı severim. Bir de kahveyi', N'Öğrenci', 1, N'A')
SET IDENTITY_INSERT [dbo].[Writers] OFF
GO
ALTER TABLE [dbo].[Abouts] ADD  DEFAULT ((0)) FOR [AboutStatus]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ContactDate]
GO
ALTER TABLE [dbo].[Contents] ADD  DEFAULT ((0)) FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Headings] ADD  DEFAULT ((0)) FOR [HeadingStatus]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Writers] ADD  CONSTRAINT [DF__Writers__WriterS__01142BA1]  DEFAULT ((0)) FOR [WriterStatus]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admins_dbo.Roles_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_dbo.Admins_dbo.Roles_Role_RoleId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingID] FOREIGN KEY([HeadingID])
REFERENCES [dbo].[Headings] ([HeadingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingID]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterID]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterID]
GO
